:root {
    --bg-color: #1a1a1a;
    // --text-color: #f5f5f5;
    --text-color: #d5d5d5;
    --border-color: #333;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

// $link-color: dodgerblue;
$link-color: var(--text-color);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    line-height: 1.6;
}

a {
    color: var(--text-color);
    text-decoration: none;
    
    &:hover {
        opacity: 0.8;
    }
}

.navbar { 
    position: fixed;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--bg-color);
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    // background-color: #333333;
    }

    ul li {
    float: left;
    }

    ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

    ul li a:hover {
    // background-color: #111111;
    }
}

.navbar-left {
    float: left;
}

.navbar-right {
    float: right;
}

.social-icon {
    filter: invert(100%);
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    vertical-align: middle;
    margin-left: 10px;
}

.social-links {
    padding: 14px 16px;
    // margin-top: 5%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--bg-color);
//   background-color: #333333;
  padding: 1.0em;
  border-top: 1px solid var(--border-color);
}

.container {
    // padding: 75px 200px 25px;
    padding: 75px 15% 25px;

}

.publication-card {
    background-color: #2a2a2a;
    // border: 1px solid var(--border-color);
    // border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;

    h2 {
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 5px;
    }

}


.button-link {
    display: inline-block;
    padding: 5px 10px;
    background-color: none;
    // color: var(--text-color);
    color: $link-color;
    border-radius: 5px;
    border: 2px solid;
    border-color: $link-color;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    display: inline-flex;
    align-items: center;
    margin-right: 0.5em;

    // &:hover {
    //     background-color: #555555;
    // }
}

hr {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.recent-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;;
}

.recent-publications {
    flex: 1 1 400px;  /* grow=1, shrink=1, basis=400px */
    min-width: 100px; /* don't shrink below this */
}

.recent-projects {
    flex: 1 1 350px;  /* grow, shrink, fixed width */
    min-width: 50%; /* don't shrink below this */
}

.project-card {
    // background-color: #2a2a2a;
    background-color: none;
    border-radius: 5px;
    padding: 15px;
    // display: inline-block;
    display: flex;
    gap: 1em;
    white-space: nowrap;
    vertical-align: middle;
}

.project-card-element{
    display: inline-block;
    vertical-align: middle;
    white-space: normal;

}   

.project-image {
    // border-radius: 10px;
}


.hyperlink {
    color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}



.author-text {
    font-style: italic;
    // color: #ffa600;
    // color: #d0d0d0;
}

.intro {
    margin-top: 10%;
    margin-bottom: 15%;
}

.home-title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 5%
}


.bio {
    // padding-left: 25%;
    // padding-right: 25%;
    // padding-top: 5%;
}