:root {
    --bg-color: #1a1a1a;
    --text-color: #f5f5f5;
    --border-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    line-height: 1.6;
}

a {
    color: var(--text-color);
    text-decoration: none;
    
    &:hover {
        opacity: 0.8;
    }
}

.navbar { 
    position: fixed;
    width: 100%;
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    }

    ul li {
    float: left;
    }

    ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

    ul li a:hover {
    background-color: #111111;
    }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #333333;
  padding: 0.5em;
}

.container {
    padding: 75px 200px 25px;

}

.publication-card {
    background-color: #2a2a2a;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;

    h2 {
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 5px;
    }

}

.button-link {
    display: inline-block;
    padding: 5px 10px;
    background-color: none;
    // color: var(--text-color);
    color: dodgerblue;
    border-radius: 5px;
    border: 2px solid;
    border-color: dodgerblue;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    display: inline-flex;
    align-items: center;
    margin-right: 0.5em;

    // &:hover {
    //     background-color: #555555;
    // }
}

hr {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.publications-container {
    display: flex;
    gap: 20px;
}

.recent-publications {
    flex-shrink: 1;
}

.recent-projects {
    flex-shrink: 1;
}

.project-card {
    // background-color: #2a2a2a;
    background-color: none;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: middle;

    h2 {
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 5px;
    }

}

.project-image {
    border-radius: 10px;
}

.hyperlink {
    color: dodgerblue;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.social-links {
    // margin: 1em;
}

.social-icon {
    filter: invert(100%);
}