---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-3xl font-bold">Shishir Gopinath</div>
    <div class="text-xl py-3 font-bold">MSc Computing Science</div>
    <div class="py-2">
      <text class="text-lg">
        I am a recent grad interested in SLAM, computer graphics, and healthcare.
      </text>
    </div>
    <!-- <div class="mt-8">
      <a class="btn" href="https://twitter.com/manuelernestog" target="_blank"> Let's connect!</a>
      <a href="https://github.com/manuelernestog/astrofy" target="_blank" class="btn btn-outline ml-5">
        Get This template
      </a>
    </div> -->
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Recent Projects</div>
  </div>

  <!-- <HorizontalCard
    title="GPU Block Solver for g2o"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  /> -->

  <HorizontalCard
    title="GPU Block Solver for g2o"
    img="/post_img.webp"
    desc="Implemented GPU acceleration to speed up parts of g2o, used for non-linear optimization in SLAM systems such as ORB-SLAM3."
    url="https://github.com/sfu-rsl/gpu-block-solver"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="GPU Sparse Block Matrix Library"
    img="/post_img.webp"
    desc="C++ library which implements GPU acceleration using Vulkan compute shaders for operations involving sparse block matrices. There is a SYCL backend as well."
    url="https://github.com/sfu-rsl/compute-engine"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Rust CHIP-8 Interpreter"
    img="/post_img.webp"
    desc="Implemented a CHIP-8 interpreter using the Rust programming language."
    url="https://github.com/hvsg/chip8"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Voxel Game Engine Prototype"
    img="/voxel/better_shadows.png"
    desc="A prototype game engine with editable terrain and multiplayer support."
    url="/voxel"
  />

  <!-- <div class="divider my-0"></div>
  <HorizontalCard
    title="Rust CHIP-8 Interpreter"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="https://github.com/hvsg/chip8"
    badge="FOSS"
  /> -->

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
