---
import BaseLayout from "../layouts/BaseLayout.astro";
import LargeCard from "../components/LargeCard.astro";

---

<BaseLayout title = "Voxel Game Engine Project" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Voxel Game Engine Project</div>
  </div>

  This is a project I started a long time ago to learn computer graphics and game engine development. 
  Here are some screenshots over the years showcasing its development.
  <div class="divider my-0"></div>


<div class="container-fluid">
  <div class="row">
  <div class="col-sm-6 d-flex justify-content-center">
    <LargeCard
      title="Demo Project 2"
      img="/voxel/fog.png"
      desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      url="/voxel/fog.png"
    />
  </div>
  <div class="col-sm-6 d-flex justify-content-center">
    <LargeCard
      title="Demo Project 2"
      img="/voxel/fog.png"
      desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      url="/voxel/fog.png"
    />
  </div>  
  </div>
</div>


  <div class="divider my-0"></div>

  <LargeCard
    title="Demo Project 2"
    img="/voxel/fog.png"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="/voxel/fog.png"
  />
  <LargeCard
    title="Demo Project 2"
    img="/voxel/fog.png"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="/voxel/fog.png"
  />
  <LargeCard
    title="Demo Project 2"
    img="/voxel/fog.png"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="/voxel/fog.png"
  />

</BaseLayout>
