<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Shishir Gopinath</title>
  <!-- Inter font -->
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">
</head>

<div class="navbar">
  <div  class="navbar-left">
    <ul>
      <li><a href="{{ get_url(path='/') }}">Home</a></li>
      <li><a href="{{ get_url(path='@/publications/_index.md') }}">Publications</a></li>
      <li><a href="{{ get_url(path='@/projects/_index.md') }}">Projects</a></li>
    </ul> 
  </div>

  <div class="navbar-right social-links">
    <a href="mailto:sgopinat@sfu.ca" class="hyperlink"><img src="/icons/envelope-fill.svg" alt="Email" class="social-icon"></a>
    <a href="https://github.com/hvsg" class="hyperlink"><img src="/icons/github.svg" alt="GitHub" class="social-icon"></a>
    <a href="https://scholar.google.ca/citations?user=2BjGRDQAAAAJ&hl=en" class="hyperlink"><img src="/icons/google.svg" alt="Google Scholar" class="social-icon"></a>
    <a href="https://linkedin.com/in/shishir-gopinath" class="hyperlink"><img src="/icons/linkedin.svg" alt="LinkedIn" class="social-icon"></a>
  </div>
</div>

<body>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock content %}
    </div>
  </section>
</body>
<footer>
  <div class="footer">
    <p>© 2025 Shishir Gopinath</p>
</footer>
</html>