  <div class="publication-card">
    <h2>{{ page.title }}</h2>
    <i>{{ page.extra.authors | markdown | safe }}</i>
    {{ page.extra.venue | safe }} | {{ page.date | date(format="%Y") }}<br>
    <hr>
    {% if page.extra.link is defined %}
    <a class="button-link" href="{{ page.extra.link | safe }}">Link</a>
    {% endif %}

    {% if page.extra.arxiv is defined %}
    <a class="button-link" href="{{ page.extra.arxiv | safe }}">arXiv</a>
    {% endif %}

    {% if page.extra.code is defined %}
    <a class="button-link" href="{{ page.extra.code | safe }}">Code</a>
    {% endif %}
  </div>